<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'QJJPYKG9TH',
	apiKey: 'fb6c2d7064dce31f2715a4c74054af3d',
	siteId: '6b32e121-2c00-41b3-a00f-1fd5aba83f49',
	branch: 'main',
	selector: 'div#search',
  });
</script>
<div id="search"></div>
